
.fform-radio {
    align-items: center;
}

.fform-radio-container > span {
    border: 0;
    border-radius: 0;
    display: inline-block;
    margin: 0;
    padding: 0.1em 0.5em;
}

.fform-radio-container > input.error + span {
    background: #ff4444;
    color: #fff;
}

.fform-radio-container > input {
    display: none;
}

.fform-radio-container > input + span {
    cursor: pointer;
}

.fform-radio-container > input:checked + span {
    background: #367ac3;
    color: #ffffff;
}

.fform-radio-container {
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: -1px;
    border-radius: 0;
    padding: 0;
}

